/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 60px 20px;
    text-align: center;
}

section#inicio {
    background-color: #fff;
    padding: 100px 20px;
}

section#inicio h1 {
    margin-top: 0;
}

section#inicio img {
    max-width: 150px;
    margin-bottom: 20px;
}

section#sobre-mi img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li
